/*
-----------------------------------------
 > Index Page <
-----------------------------------------
*/

.polaris-wrapper {
    position: relative;
    box-sizing: border-box;
    padding-bottom: 4vw;
    overflow: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.polaris-wrapper * {
    box-sizing: inherit;
}

.hero-container {
    position: relative;
    padding-bottom: 32.5%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    .hero-wrapper {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;
        .hero-vid {
            margin-top: -185px;
        }
    }
}