/*
-----------------------------------------
 > Meetup Page <
-----------------------------------------
*/

.panel-image {
  width: 100% !important;
}

.panel-content {
  ul {
    list-style-type: circle;
    line-height:18px;
    margin-left: 8%;
  }
}

.polaris-wrapper.slider {
    .img-container {
        height: 468px;
        background-color: #333;
        overflow: hidden;
    }

    .tile-container {
        margin-top: -170px;
        h2 {
            color: #fff;
        }
        .sliderTop {
            .slick-prev, .slick-next {
                width: 45px;
                height: 45px;
                &:before {
                    color: #333;
                font-size: 45px;
                }
            }

            .slick-prev {
                left: -45px;
            }

            .slick-next {
                right: -45px;
            }

            .slick-dots li button:before {
                font-size: 18px;
            }

            .slick-dots {
              margin: 0;
            }
        }
    }
}

.slider-panel {
  .panel-media {
    width: 60% !important;
  }

  .panel-info {
    width: 35% !important;
    margin-left: 4% !important;
  }

  .occurred {
    color: #F05423;
    font-size: 22px;
  }
}

.polaris-wrapper.talks {
    .tile-container {
        margin-top: 0;
    }
}

.polaris-wrapper.slider, .polaris-wrapper.talks {
    .title {
        color: #fff;
        width: 64%;
        background-color: #333;
        padding: 15px 15px 15px 315px;
        margin: 0 -20% 20px;
        text-align: right;
    }
}

.tile-meta {
  color: #555;
  font-weight: bold;
  transition: all .4s ease;

  &.occurred {
    color: #F05423;
    font-size: 18px;
  }
}

.tile-link:hover {
  .tile-meta {
    color: #fff;
    font-weight: bold;
    transition: all .4s ease;
  }
}

.tile-media-bg {
  &.blur {
    z-index: 1;
    -webkit-filter: blur(4px);
  }
}

.panel-des {
  &.occurred {
    color: #fff;
    font-size: 20px;
    font-weight: 20px;
    line-height: 20px;
  }

  a, .link {
    color: #9a9a9a;
    transition: all 0.2s ease;

    &:hover {
      color: #ababab;
      text-decoration: none;
      transition: all 0.2s ease;
    }
  }

}
