footer{
    text-align: center;
    border-top: 1px solid #ccc;
}

#main-nav-tabs ul {
    margin-bottom: 0;
    font-size: 18px;
}

#sub-nav-tabs ul {
    margin: 0;
}

#social-bar ul {
    display: inline;
}

#social-bar ul li {
    display: inline-block;
}

#logo-wrapper {
    float: left;
    height: 65px;
    width: 100px;
}

#logo-wrapper span {
    background: url(../img/sky-logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 100%;
}

#social-bar {
    margin: 25px 0 0 60px;
}

#header-title {
    margin: 10px 0 0 20px;
}

.left {
    float: left;
}

.more-tabs {
    position: relative;
    top: 0;
}

.more-tabs li {
    padding-top: 1px;
    padding-left: 10px;
}

.tabs-container.page-nav .tabs>.tab:hover a {
    border: none;
}

.blog-post {
    border-bottom: solid 1px #dcdcdc;
}
.blog-post h3{
    margin-bottom: 2px;
}

.blog-post-info {
    font-size: 12px;
}

.github {
    text-decoration: none;
    color: #bbb;
}

.github .thumbnail :hover {
    border-color:#337ab7;
}

.github .mega-octicon {
    line-height: 22px;
    margin-top: 10px;
    vertical-align: middle;
    margin-bottom: 0.25em;
    margin-right: 5px;
}

.spaced {
    padding-top: 20px;
}