---
layout: default
title: Blog
---

{% capture remoteIp %}{% remote_ip %}{% endcapture %}
{% capture ipRange %}{% ip_range %}{% endcapture %}

{% if remoteIp contains ipRange %}
  <h1>Internal</h1>
  {% for post in site.posts %}
    <div class="row clearfix">
      <div class="skycom-7">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="lead">{{ post.excerpt }}</p>
      </div>
      <div class="skycom-5">
        <img class="img-responsive center-block circlecontainer" src="{{post.image}}" class="image" alt="Generic placeholder image" border="5">
      </div>
    </div>
    <hr class="featurette-divider">
  {% endfor %}

{% else %}
  <h1>External</h1>
  {% for post in site.categories.allPosts.external %}
    <div class="row clearfix">
      <div class="skycom-7">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="lead">{{ post.excerpt }}</p>
      </div>
      <div class="skycom-5">
        <img class="img-responsive center-block circlecontainer" src="{{post.image}}" class="image" alt="Generic placeholder image" border="5">
      </div>
    </div>
    <hr class="featurette-divider">
  {% endfor %}
{% endif %} -->

{% for post in site.posts %}
    <div class="row clearfix">
      <div class="skycom-7">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="lead">{{ post.excerpt }}</p>
      </div>
      <div class="skycom-5">
        <img class="img-responsive center-block circlecontainer" src="{{post.image}}" class="image" alt="Generic placeholder image" border="5">
      </div>
    </div>
    <hr class="featurette-divider">
  {% endfor %}