<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://web-toolkit.global.sky.com/2.3.6/stylesheets/toolkit.css"/>
    <link rel="stylesheet" href="//octicons.github.com/components/octicons/octicons/octicons.css"/>
    <link rel='stylesheet' href='//assets.sky.com/dist/1235/fonts/skyicons.css'>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/toolkit-article-fix.css"/>
    <title>Sky Developers</title>

    <meta name = "viewport" content = "width=device-width; initial-scale = 1; maximum-scale=1; user-scalable = no;" />

</head>
