<section class="module clearfix tabs-container page-nav" data-function="tabs" id='main-nav-tabs'>    
<ul class="tabs clearfix" role="tablist">
       <li id="home-tab" class="tab selected" nav-control="home-tab">
                <a href="/" class="ellipsis internal-link"><span>Home</span></a>
            </li>
        {% for page in site.pages %}
          {% if page.title %}
            <li id="{{page.title}}" class="tab" role="tab">
                <a href="{{ page.url | prepend: site.baseurl }}" class="ellipsis internal-link"><span>{{ page.title }}</span></a>
            </li>
          {% endif %}
        {% endfor %}
    </ul>
</section>