<head>
    <meta charset="UTF-8">
    <script src="{{ "/scripts/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
    <script src='http:////web-toolkit.global.sky.com/2.3.6/scripts/toolkit.min.js'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://momentjs.com/downloads/moment.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.js"></script>
    <script src="{{ "/scripts/gcal.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/scripts/calendarconf.js" | prepend: site.baseurl }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://web-toolkit.global.sky.com/2.3.6/stylesheets/toolkit.css"/>
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.3.1/fullcalendar.print.css">
    <title>Sky Developers</title>
</head>
