<section class="module clearfix tabs-container page-nav whole-page" data-function="tabs" id='main-nav-tabs'>
  <h1 class="dev-logo">
      <a class="internal-link" href="/">
        <img src="/images/sky-logo-positive.png" height="35" class="dev-logo-image"/>
        <span class="dev-logo-text">
        developers
        </span>
      </a>
  </h1>

  <label class="menu_button"><i class="skyicon-menu" aria-hidden="true"></i></label>
  <label class="menu_overlay" for="menu_toggle"></label>
  <ul class="tabs clearfix main-menu" role="tablist">

    {% for p in site.data.navigation %}
    {% if p.title %}
    {% if p.url == page.url %}
    <li id="{{p.title}}" class="tab selected" role="tab">
    {% else %}
    <li id="{{p.title}}" class="tab" role="tab">
    {% endif %}
      <a href="{{ p.url | prepend: site.baseurl }}" class="ellipsis internal-link"><span>{{ p.title }}</span></a>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</section>

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    $('.menu_button').click(function() {
        $('ul.main-menu').toggleClass('active');
        $('.menu_overlay').toggleClass('active');
    });

    $('.menu_overlay').click(function() {
        $('ul.main-menu').removeClass('active');
        $('.menu_overlay').removeClass('active');
    });
</script>
