<section class="module clearfix tabs-container page-nav whole-page" data-function="tabs" id='main-nav-tabs'>
  <h1 class="dev-logo">
        <img src="/images/sky-logo.png" height="35" class="dev-logo-image"/>
        <span class="dev-logo-text">
        developers
        </span>
  </h1>

  <label class="menu_button" id="menu_button"><i class="skyicon-menu" aria-hidden="true"></i></label>
  <label class="menu_overlay" id="menu_overlay" for="menu_toggle"></label>
</section>

<script type="text/javascript">
    document.getElementById('menu_button').addEventListener('click', function() {
        document.getElementById('main-menu').classList.toggle('active');
        document.getElementById('menu_overlay').classList.toggle('active');
    });

    document.getElementById('menu_overlay').addEventListener('click', function() {
        document.getElementById('main-menu').classList.remove('active');
        document.getElementById('menu_overlay').classList.remove('active');
    });
</script>
