<script src='http://web-toolkit.global.sky.com/2.3.6/scripts/toolkit.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="{{"/scripts/main.js" | prepend: site.baseurl}}"></script>
<script src="{{"/scripts/googleAnalytics.js" | prepend: site.baseurl}}"></script>
<script src="{{"/scripts/newRelic.js" | prepend: site.baseurl}}"></script>
<script src="{{"/scripts/clientip.js" | prepend: site.baseurl}}"></script>
<script src="{{"/scripts/getIpAddress.js" | prepend: site.baseurl}}""></script>
